.polygon {
    z-index: -1;
    top: -350px;
    overflow:hidden;
    position: absolute;
    transform: rotate(20deg);
    max-height: 1000px;
    max-width: 85%;
    margin: auto;
    background-color: #F7F7F7;
    background-repeat: no-repeat;
}

@media screen and (max-width : 1440px) {
    .polygon {
        height: 800px;
    }
}

@media screen and (max-width : 576px) {

    .polygon {
        height: 600px;
        transform: rotate(10deg);
    }
}