.text-custom1 {
  color: #2E1F74 !important;
}
.bg-custom1 {
  background-color: #2E1F74 !important;
}
.text-custom2 {
  color: #B3B3B3 !important;
}
.bg-custom2 {
  background-color: #B3B3B3 !important;
}

.text-custom3 {
  color: #F7F7F7 !important;
}
.bg-custom3 {
  background-color: #F7F7F7 !important;
}
.gifSection {
  width: 80%;
  height: 90%;
}

@media screen and (max-width : 992px ) {
  .gifSection {
      width: 60%;
      height: 60%;
  }
}

@media screen and (max-width : 576px) {

  .reposive-text {
    font-size: 12px;
  }
}