.titulo {
    font-size: 2.5vw;
    color: #fff;
}

.lastPosts {
    width: 30.47vw;
    height: 39.58vw;
    background: #2E1F74;
    border-radius: 2.08vw;
}

.lastPosts h3 {
    width: 3.64vw;
    color: #FFFFFF;
}

.button {
    width: 25.57vw;
    height: 5.81vw;
    font-size: 1.20vw;
    color: #fff;
    background: linear-gradient(180deg, #5E3FA0 0%, rgba(65, 91, 158, 0) 100%);
    border-radius: 2.08vw;
}

.button:hover {
    background-color: #509fad;
}

.atualizar {
    width: 25.57vw;
    height: 4.16vw;
    color: #fff;
    background: linear-gradient(180deg, #5E3FA0 0%, rgba(65, 91, 158, 0) 100%);
    font-size: 1.20vw;
    border-radius: 2.08vw;
    margin-bottom: 2.60vw;
}

.atualizar:hover {
    background-color: #509fad;
}

.image {
    margin-right: -0.36vw;
    margin-left: 1.04vw;
    width: 3.64vw;
    height: 3.64vw;
}
